@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    scroll-behavior: smooth;
}

.splide__progress__bar {
    height: 3px;
    background: #ccc;
}

a {
    color: white;
}

img {
    max-width: 100%;
}

section {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

body {
    background-color: #1E252B;
    overflow-x: hidden;
}

header {
    position: sticky;
}

nav {
    display: flex;
    padding: 30px 15px;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    transition: all 0.5s;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.center {
    text-align: center;
}

#home-section {
    margin-top: 50px;
}

.close {
    position: absolute;
    top: 100px;
}

.logo {
    font-size: 1.6em;
}

.mobile-menu {
    display: none;
}


/* SECTIONS **** HOME AREA ***** */

.home-area {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info h1 {
    color: white;
    font-family: Poppins;
    font-style: bold;
    font-weight: 500;
    font-size: 3em;
    line-height: 140%;
    padding-top: 30px;
}

.info p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(230, 218, 218, 0.884);
    padding-top: 20px;
}

.btn {
    padding: 10px 40px;
    background: #FF6E30;
    border-radius: 8px;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.100);
}

.f-btn {
    margin-top: 30px;
}


/* SECTIONS **** HACKATONS  AREA ***** */

.types-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.area-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 130%;
    /* or 62px */
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    max-width: 392px;
    width: 100%;
    padding: 20px 20px;
    margin: 10px 25px;
    transition: all 0.3s;
    text-align: center;
}

.type:hover {
    transform: translateY(-20px);
}

.type p {
    color: rgba(230, 218, 218, 0.884);
}


/* SECTIONS **** PARTNERS AREA ***** */

#partners {
    margin-top: 50px;
    margin-bottom: 100px;
}

.our-partners {
    display: flex;
    justify-content: center;
    background: rgba(44, 53, 61, 0.2);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
}

.our-partners .partners {
    max-width: 1060px;
    width: 100%;
    height: 300px;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.our-partners .partners .partner {
    max-width: 250px;
    margin: 10px auto;
}


/* SECTIONS **** ABOUT  AREA ***** */

.about-hackathons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.about-hackathons .about-text {
    width: 50%;
}

.why li {
    margin-top: 10px;
}

.why-icon i {
    color: #FF6E30;
    margin-right: 10px;
}


/* SECTIONS **** CONTACT  AREA ***** */

.blur-text {
    color: rgba(230, 218, 218, 0.884);
}

.contact-area {
    max-width: 1224px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(50px);
    padding: 30px 20px 30px 20px;
    border-radius: 25px;
}

.contact-area .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact-form p {
    margin: 10px;
}

input.form,
textarea {
    border: none;
    outline: none;
    padding: 10px 20px;
    max-width: 549px;
    width: 100%;
    background: #283036;
    border-radius: 15px;
}

button.btn {
    border: none;
    outline: none;
}

#footer {
    background: rgba(40, 48, 54, 0.6);
    backdrop-filter: blur(50px);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer-content .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.brand {
    width: 30%;
}


/* SLIDER  */

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}