<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Abdurakhmon Rashidov">
    <meta name="organization" content="Robocode IT Academy Andijan">
    <meta name="keywords" content="hackathon, Dasturlash, dastur">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/splide.min.css" />
    <link rel="short icon" href="/static/src/fav.png">
    <title>Hackathon - Andijan </title>
</head>

<body>
    <header>
        <nav>
            <a href="/static/home.html" class="logo">
                RoboHack
            </a>
            <ul id="menu">
                <li>
                    <a href="#">Bosh sahifa</a>
                </li>
                <li>
                    <a href="#chellanges">Musobaqalar</a>
                </li>
                <li>
                    <a href="#events">Tadbirlar</a>
                </li>
                <li>
                    <a href="#contact">Bog'lanish</a>
                </li>
            </ul>
            <div class="mobile-menu">
                <a href="#" id="open" onclick="openMenu()">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </div>
        </nav>
    </header>

    <div class="success">
        <h1>Sizning Habaringiz Muvaffaqiyatli Jonatildi</h1>
        <a href="/" class="btn">Bosh Sahifaga Qaytish</a>
    </div>

    <section id="footer ">
        <footer class="container ">
            <div class="footer-content ">
                <div class="content ">
                    <div class="block brand ">
                        <a href="# " class="logo ">
                            RoboHack
                        </a>
                        <br>
                        <small> Robocode IT Academy tomonidan 2022-yil yo'lga qo'yilgan.</small>
                        <br>
                        <p class="blur-text ">
                            Barcha taklif va savollaringizni bizga yozib yuborishingiz mumkin.
                        </p>
                    </div>
                    <div class="block contacts ">
                        <h3>Bog'lanish</h3>
                        <ul class="why ">
                            <li class="why-icon ">
                                <a href="# " class="blur-text "><i class="fas fa-phone "></i> +998931234567</a>
                            </li>
                            <li class="why-icon ">
                                <a href="# " class="blur-text "><i class="fas fa-map-marker-alt "></i> Andijon sh. Uzbekistan</a>
                            </li>
                            <li class="why-icon ">
                                <a href="# " class="blur-text "><i class="fas fa-envelope "></i> support@hackathon.uz</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block more ">
                        <h3>Qo'shimcha</h3>
                        <ul class="why ">
                            <li class="why-icon ">
                                <a href="#about-hackathons" class="blur-text "><i class="fas fa-info "></i> Biz haqimizda</a>
                            </li>
                            <li class="why-icon ">
                                <a href="#contact" class="blur-text "><i class="fas fa-phone "></i> Aloqa</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block pages ">
                        <h3>Bo'limlar</h3>
                        <ul class="why ">
                            <li class="why-icon ">
                                <a href="#chellanges" class="blur-text ">Musobaqalar</a>
                            </li>
                            <li class="why-icon">
                                <a href="#events" class="blur-text ">Tadbirlar</a>
                            </li>
                            <li class="why-icon ">
                                <a href="#contact" class="blur-text ">Bog'lanish</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script src="/static/js/splide.min.js"></script>
    <script src="/static/js/slider.js "></script>
    <script src="/static/js/main.js "></script>
</body>

</html>