@media screen and (max-width:1025px) {
    #home-section {
        margin-top: 30px;
    }
    .area-title {
        font-size: 2em;
    }
    .our-partners .partners {
        flex-direction: row;
        justify-content: space-around;
    }
    .about-hackathons .about-text {
        width: 80%;
    }
    .footer-content .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .brand {
        width: 100%;
    }
    .block {
        width: 50%;
        margin-top: 20px;
    }
}

@media screen and (max-width:970px) {
    .home-area .info h1 {
        font-size: 2.5em;
    }
    .types-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .about-event {
        padding: 30px;
    }
    .who-for {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .times .time {
        margin: 30px 40px;
    }
}

@media screen and (max-width:700px) {
    section {
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .container {
        padding-left: 8%;
        padding-right: 8%;
    }
    nav ul {
        position: absolute;
        top: -300px;
        width: 60%;
        padding: 30px 0px;
        border-radius: 8px;
        background-color: #FF6E30;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        /* opacity: 0; */
    }
    .logo {
        font-size: 1.5em;
    }
    .mobile-menu {
        display: block;
        font-size: 1.5em;
    }
    .home-area {
        flex-direction: column;
        align-items: center;
    }
    #partners {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .our-partners .partners {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .our-partners .partners .partner {
        max-width: 194px;
        margin: 20px;
    }
    .about-hackathons {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 50px;
    }
    .about-hackathons .about-text {
        width: 100%;
    }
    .footer-content .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .block {
        width: 100%;
        margin-top: 20px;
    }
    .about-event {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-event .content-image {
        width: 80%;
    }
    .about-event {
        padding: 20px;
    }
    .times .time {
        margin: 20px 40px;
    }
}

@media screen and (max-width:580px) {
    #home-section {
        margin-top: 0px;
    }
    input.form,
    textarea {
        border: none;
        outline: none;
        padding: 8px 15px;
        max-width: 549px;
        width: 100%;
        background: #283036;
        border-radius: 15px;
    }
    .content h1 {
        font-size: 1.5em;
    }
    .info h1 {
        font-size: 1em;
    }
    h2 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
    .footer-content {
        margin-top: 30px;
    }
    .event img {
        width: 70%;
        margin-bottom: 30px;
    }
    .modal-content {
        width: 60%;
        padding-top: 20px;
    }
}

@media screen and (max-width:400px) {
    .logo {
        font-size: 1.2em;
    }
    .home-area .info h1 {
        font-size: 1.8em;
        padding-top: 0;
    }
    .types-area {
        padding: 10px;
    }
    input.form,
    textarea {
        border: none;
        outline: none;
        padding: 8px 5px;
        max-width: 549px;
        width: 100%;
        background: #283036;
        border-radius: 15px;
    }
    .contact-area {
        padding: 20px 10px 20px 10px;
    }
    .contact-form {
        margin-top: 5px;
    }
    .contact-area .contact-form p {
        margin: 10px auto;
    }
    .footer-content {
        margin-top: 20px;
    }
    .about-event {
        padding: 15px;
    }
    .for {
        background: rgba(44, 53, 61, 0.2);
        backdrop-filter: blur(50px);
        padding: 10px;
        border-radius: 15px;
        max-width: 392px;
        width: 100%;
        margin: 10px 15px;
        transition: all 0.3s;
    }
    .modal-content {
        width: 60%;
        padding-top: 20px;
    }
    .modal-content .contact-form {
        width: 100%;
    }
}